.sumblock {
  padding-top: 30px;
  font-size: 11px;
  line-height: 13px;
  transition: all .5s ease;
}
.sumblock__pinned {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  border-radius: 5px;
  z-index: 1000;
}
.sumblock__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.sumblock__sum {
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #2c87a6;
  margin-left: 20px;
}
.sumblock__info {
  margin-top: 25px;
  margin-bottom: 25px;
}
.sumblock__top {
  display: flex;
  align-items: center;
}
