.roundback {
  padding: 30px 15px 16px;
}

.roundback__link {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}
.roundback__link::after {
  content: url(/static/img/breads.png);
  transform: rotate(180deg);
}

@media (min-width: 640px) {
  .roundback {
    display: none;
  }
}
