.roundedpill {
  border: none;
  border-radius: 5px;
  font: inherit;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 14px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  min-width: 80px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.roundedpill.active {
  color: #fff;
  background: linear-gradient(180deg, #59b7d7 0%, #2c87a6 100%);
  border: 1px solid transparent;
}
@media (max-width: 640px) {
  .roundedpill {
    margin-right: 15px;
    width: calc(33.33333% - 10px);
  }
  .roundedpill:nth-child(4) {
    margin-right: 0;
  }
}
